@import "tailwindcss";

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes marquee-reverse {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.animate-marquee {
    display: flex;
    animation: marquee 20s linear infinite;
    /* Ultra-smooth */
    width: max-content;
}

.animate-marquee-reverse {
    display: flex;
    animation: marquee-reverse 20s linear infinite;
    /* Ultra-smooth */
    width: max-content;
}

/* Gellix Regular */
/* src/index.css */

/* Gellix Font Family */
@font-face {
    font-family: 'Gellix';
    src: url('./assets/fonts/gellix/GellixBlack.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('./assets/fonts/gellix/GellixSemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gellix';
    src: url('./assets/fonts/gellix/GellixMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Cambon Font Family */
@font-face {
    font-family: 'Cambon';
    src: url('./assets/fonts/CAMBON/Cambon-Black.eot') format('embedded-opentype');
    /* url('./assets/fonts/CAMBON/Cambon-Black.woff2') format('woff2'),
        url('./assets/fonts/CAMBON/Cambon-Black.woff') format('woff'); */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.font-cambon-header {
    color: #2A2A2A;
    font-family: Cambon, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Tablet */
@media (max-width: 1024px) {
    .font-cambon-header {
        font-size: 48px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .font-cambon-header {
        font-size: 32px;
        text-align: center;
    }
}

.font-cambon-header-studio {
    color: #2A2A2A;
    font-family: Cambon, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.font-cambon-header-stories {
    color: #2A2A2A;
    font-family: Cambon, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Tablet */
@media (max-width: 1024px) {
    .font-cambon-header-stories {
        font-size: 36px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .font-cambon-header-stories {
        font-size: 32px;
        text-align: center;
    }
}

.font-cambon-header-white {
    color: #FFF;
    text-align: center;
    font-family: Cambon, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

/* Tablet */
@media (max-width: 1024px) {
    .font-cambon-header-white {
        font-size: 72px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .font-cambon-header-white {
        font-size: 32px;
        text-align: center;
    }
}


.font-gellix-header {
    color: #F6A634;
    font-family: Gellix, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.font-gellix-header-start {
    color: #F6A634;
    font-family: Gellix, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
}

/* Tablet */
@media (max-width: 1024px) {
    .font-gellix-header {
        font-size: 34px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .font-gellix-header {
        font-size: 20px;
        text-align: center;
    }
}

.font-cambon-header-journey {
    color: #000;
    text-align: center;
    font-family: Cambon, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Tablet */
@media (max-width: 1024px) {
    .font-cambon-header-journey {
        font-size: 34px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .font-cambon-header-journey {
        font-size: 40px;
        text-align: center;
        line-height: 48px;
    }
}


.font-gellix-content {
    color: #2A2A2A;
    text-align: center;
    font-family: Gellix, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.font-gellix-content-white {
    color: #FFF;
    text-align: center;
    font-family: Gellix, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    /* 180% */
}

/* Tablet */
@media (max-width: 1024px) {
    .font-gellix-content-white {
        font-size: 72px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .font-gellix-content-white {
        font-size: 16px;
        text-align: center;
        line-height: 20px;
    }
}

.font-cambon-header-white-header {
    color: #FFF;
    text-align: center;
    font-family: Cambon, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

/* Tablet */
@media (max-width: 1024px) {
    .font-cambon-header-white-header {
        font-size: 72px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .font-cambon-header-white-header {
        font-size: 32px;
        text-align: center;
        line-height: normal;
    }
}

.font-gellix-content-start {
    color: #2A2A2A;
    text-align: start;
    font-family: Gellix, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

/* Tablet */
@media (max-width: 1024px) {
    .font-gellix-content-start {
        font-size: 14px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .font-gellix-content-start {
        font-size: 14px;
        text-align: center;
        line-height: 2;

    }
}

.font-gellix-content-start-studios {
    color: #2A2A2A;
    text-align: start;
    font-family: Gellix, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}


/* Tablet */
@media (max-width: 1024px) {
    .font-gellix-content-start-studios {
        font-size: 14px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .font-gellix-content-start-studios {
        font-size: 14px;
        text-align: start;
        line-height: 2;

    }
}

.font-gellix-button {
    color: #FFF;
    font-family: Gellix, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* 180% */
}

.font-gellix-title-content {
    color: #000;
    font-family: Gellix, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;

}

/* Tablet */
@media (max-width: 1024px) {
    .font-gellix-title-content {
        font-size: 14px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .font-gellix-title-content {
        font-size: 10px;
        text-align: center;
        line-height: 10px;
        letter-spacing: 3.2px;
        text-transform: uppercase;
    }
}

.font-gellix-title-content-h1 {
    color: #FFF;
    text-align: center;
    font-family: Gellix, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;


}

/* Tablet */
@media (max-width: 1024px) {
    .font-gellix-title-content-h1 {
        font-size: 72px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .font-gellix-title-content-h1 {
        font-size: 12px;
        text-align: center;
        line-height: 10px;
    }
}

.font-cambon-hero {
    color: #FFF;
    font-family: Cambon, serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 96px;
    /* default: desktop */
}

/* Tablet */
@media (max-width: 1024px) {
    .font-cambon-hero {
        font-size: 72px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .font-cambon-hero {
        font-size: 36px;
        text-align: center;
    }
}


.font-cambon-hero-content {
    color: #FFF;
    text-align: center;
    font-family: Gellix, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Tablet */
@media (max-width: 1024px) {
    .font-cambon-hero-content {
        font-size: 32px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .font-cambon-hero-content {
        font-size: 16px;
        text-align: center;
    }
}


.scroll-hidden::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}



/* cambon cart content  */

.card-cambon-header {
    color: #000;
    font-family: Cambon, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}